.cycle-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 14px;
}

.cycle-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* para ocupar todo o espaço do mat-option */
    padding-right: 8px;
    padding-left: 8px;
}

.cycle-name,
.cycle-priority,
.cycle-entities {
    flex: 1;
    text-align: left;
}

.cycle-priority {
    text-align: center;
}

.cycle-entities {
    text-align: right;
}